/* フォーム全体のスタイル */
.contact-form__content {
    width: 70%;
    margin: 50px auto;
    font-family: 'Inika';
    color: #8B7969;
}

.contact-form__heading h2 {
    text-align: center;
    font-size: 35px;
    color: #8B7969;
    margin-bottom: 50px;
    font-weight: normal;
}

/* フォームグループのスタイル */
.form__group {
    display: flex;
    margin-bottom: 20px;
}

.form__group-title {
    width: 25%;
    font-size: 14px;
    color: #8B7969;
    margin-bottom: 8px;
}

.form__label--item {
    font-weight: normal;
    font-size: 20px;
}

.form__label--required {
    color: #FF9494;
    margin-left: 5px;
    font-size: 20px;
}

.form__group-content {
    width: 50%;
}

/* インプットとセレクトのスタイル */
.form__group-content input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #BEb1A6;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    background-color: #f4f4f4;
    box-sizing: border-box;
}

.form__group-content select {
    width: 60%;
    padding: 10px;
    font-size: 14px;
    color: #BEb1A6;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    background-color: #f4f4f4;
    box-sizing: border-box;
}

.form__group-content input[type="text"]:focus,
.form__group-content select:focus,
.form__input--textarea textarea:focus {
    border-color: #beb1a6;
    outline: none;
    background-color: #fff;
}

/* 名前の横並び*/
.form__input--name {
    display: flex;
    align-items: center;
    gap: 16px;
}

.form__input--gender {
    display: flex;
    align-items: center;
    gap: 32px;
}

.form__input--gender input {
    display: none;
}

.radio-mark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #8b7969;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
}

.radio-mark::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #8b7969;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.radio-mark::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background 0.2s ease;
}

.form__input--gender input:checked+.radio-mark::after {
    background: #8b7969;
}
.form__input--gender-option {
    display: flex;
    align-items: center;
    gap: 4px;
}

/* エラーメッセージのスタイル */
.form__error {
    font-size: 12px;
    color: #d9534f;
    margin-top: 5px;
}

/* 電話番号の横並び */
.form__input--tel {
    display: flex;
    gap: 10px;
}

.form__input--tel--number {
    width: 180px;
}

.form__input--tel--number input {
    text-align: center;
}

.form__input--tel--hyphen p {
    margin: 0;
    padding: 10px 0;
    color: #8B7969;
}

/* お問い合わせの種類 */
.form__select--content--item {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #beb1a6;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    background-color: #f4f4f4;
    box-sizing: border-box;
    appearance: none;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="%238B7969" d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 60px;
    padding-right: 30px;
}

/* テキストエリアのスタイル */
.form__input--textarea {
    width: 100%;
}
.form__input--textarea textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 14px;
    color: #beb1a6;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    background-color: #f4f4f4;
    resize: vertical;
}

/* 送信ボタンのスタイル */
.form__button-submit {
    width: 20%;
    display: block;
    margin:  50px auto;
    padding: 10px 40px;
    font-size: 16px;
    color: #fff;
    background-color: #82756A;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}